<section id="djino_info">
  <div class="djino_info_wrapper">
    <header class="header cell_1">
      <a href="/" class="logo">
        <img src="../../assets/img/logo.svg" alt="logo">
        <span>домены</span>
      </a>
      <span class="header_title">Почему стоит выбрать «Джино»?</span>
    </header>
    <p class="djino_info_text cell_2">«Джино» более 18 лет на рынке, имеет 270 000 довольных клиентов, собственную панель управления и многое другое.</p>
    <div class="create_account_wrapper cell_3">
      <app-create-account></app-create-account>
    </div>
    <div class="djino_info_banner cell_4">
      <span>Вы получите <strong>1000</strong> баллов в системе лояльности <a href="#">Джино.Плюсы</a>, зарегистрировавшись в течении <strong>24 часов</strong> после посещения данной страницы</span>
      <div class="bonus_score">
        <span>1000</span>
        <img src="../../assets/img/plus-bold.svg" alt="Bonus">
      </div>
    </div>
    <footer class="footer cell_5">
      &copy; «Джино», 2003–2017. «Джино» является зарегистрированным товарным знаком. Лицензия на телематические услуги связи № 97495 от 09.03.2012. <a href="#">Правовая информация.</a>
    </footer>
  </div>
  <app-nav-dots></app-nav-dots>
</section>
