#djino_info {
    background: url('../../assets/img/background2.jpg') no-repeat top center;
    font-family: 'PT Sans Caption', sans-serif;
    background-size: cover;
    position: relative;
    box-sizing: border-box;

    .djino_info_wrapper {
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 195px 300px 155px 110px 110px;
        grid-gap: 0 1%; 
        grid-template-areas: 
            "header header header header header header header header header header header header"
            ". promo_text promo_text promo_text promo_text promo_text promo_text promo_text promo_text promo_text promo_text ."
            ". . . . create_account create_account create_account create_account . . . ."
            "banner banner banner banner banner banner banner banner banner banner banner banner"
            "footer footer footer footer footer footer footer footer footer footer footer footer";

        .cell_1 {
            grid-area: header;
        }

        .cell_2 {
            grid-area: promo_text;
        }

        .cell_3 {
            grid-area: create_account;
        }

        .cell_4 {
            grid-area: banner;
        }

        .cell_5 {
            grid-area: footer;
        }

        .header {
            box-sizing: border-box;
            width: 100%;
            padding-top: 40px;
            display: flex;
            flex-wrap: wrap;

            .logo {
                box-sizing: border-box;
                width: 100%;
                height: 23px;
                display: flex;

                img {
                    box-sizing: border-box;
                    padding-top: 4px;
                    margin-right: 10px;
                }

                span {
                    box-sizing: border-box;
                    color: rgb(255, 255, 255);
                    display: block;
                    line-height: 25px;
                    font-weight: 700;
                }
            }

            .header_title {
                box-sizing: border-box;
                font-family: 'PT Sans Caption', sans-serif;
                color: rgb(255, 255, 255);
                display: block;
                line-height: 42px;
                font-size: 35px;
                font-weight: 700;
                width: 100%;
                text-align: center;
            }
        }

        .djino_info_text {
            box-sizing: border-box;
            font-family: 'PT Sans Caption', sans-serif;
            font-size: 47px;
            line-height: 60px;
            font-weight: bold;
            text-align: center;
        }

        .create_account_wrapper {
            box-sizing: border-box;
            position: relative;
            width: 100%;
            margin-top: 40px;
        }

        .djino_info_banner {
            box-sizing: border-box;
            background: rgb(223, 74, 94);
            border-radius: 8px;
            display: flex;
            padding: 27px 40px;

            span {
                box-sizing: border-box;
                font-family: 'PT Sans Caption', sans-serif;
                font-size: 19px;
                line-height: 26px;
                width: 84%;
                padding-right: 70px;
                border-right: 2px solid rgba(255, 255, 255, .5);

                a {
                    color: rgb(255, 255, 255);
                    border-bottom: 1px solid rgb(255, 255, 255);
                }
            }

            .bonus_score {
                box-sizing: border-box;
                position: relative;
                width: 190px;
                padding-left: 35px;

                span {
                    box-sizing: border-box;
                    font-family: 'PT Sans Caption', sans-serif;
                    font-size: 47px;
                    line-height: 60px;
                    font-weight: 700;
                    border: none;
                    position: absolute;
                    top: calc(~"50% - 30px");
                }

                img {
                    position: absolute;
                    width: 28px;
                    height: 28px;
                    top: calc(~"50% - 14px");
                    right: 0;
                }
            }
        }

        .footer {
            box-sizing: border-box;
            font-family: 'PT Sans Caption', sans-serif;
            font-size: 12px;
            line-height: 17px;
            color: rgba(255, 255, 255, .5);
            padding-top: 46px;

            a {
                color: rgba(255, 255, 255, .5);
                border-bottom: 1px solid rgba(255, 255, 255, .5);
            }
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 980px) {
    #djino_info {
        .djino_info_wrapper {
            grid-template-rows: 195px auto 155px auto 110px;

            .header {
                .header_title {
                    font-size: 30px;
                }
            }

            .djino_info_text {
                font-size: 35px;
                line-height: 43px;
                margin: 0;
                padding: 0;
            }

            .create_account_wrapper {
                margin-top: 65px;
            }
    
            .djino_info_banner {
                padding: 16px 30px;
    
                span {
                    font-size: 19px;
                    line-height: 26px;
                    width: 85%;
                    padding-right: 30px;
                }
    
                .bonus_score {
                    width: 150px;
                    padding-left: 15px;
                    padding-top: 9px;

                    span {
                        font-size: 35px;
                    }
    
                    img {
                        width: 23px;
                        height: 23px;
                        top: calc(50% - 11.5px);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 981px) and (max-width: 1300px) {
    #djino_info {
        .djino_info_wrapper {
            .djino_info_text {
                font-size: 41px;
                line-height: 55px;
                margin: 0;
                padding: 0;
            }
    
            .djino_info_banner {
                padding: 16px 30px;
    
                span {
                    box-sizing: border-box;
                    font-family: 'PT Sans Caption', sans-serif;
                    font-size: 19px;
                    line-height: 26px;
                    width: 84%;
                    padding-right: 70px;
                    border-right: 2px solid rgba(255, 255, 255, .5);
    
                    a {
                        color: rgb(255, 255, 255);
                        border-bottom: 1px solid rgb(255, 255, 255);
                    }
                }
    
                .bonus_score {
                    padding-left: 25px;
                    padding-top: 10px;
                }
            }
        }
    }
}

@media screen and (min-width: 1301px) and (max-width: 2500px) {
    #djino_info {
        .djino_info_wrapper {
            margin-left: calc(~"50% - 546.5px");
            margin-right: calc(~"50% - 546.5px");
            width: 1092px;
        }
    }
}