.create_account_btn {
    box-sizing: border-box;
    position: absolute;
    left: calc(~"50% - 132px");
    width: 264px;
    height: 54.5px;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    background: rgb(119, 181, 60);
    border-radius: 8px;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
}

.create_account_btn:hover {
    transition: .3s;
    background: rgb(114, 175, 57);
}

.create_account_btn:active {
    background: rgb(103, 158, 52);
}