<div class="nav_dots_wrapper">
  <div (click)="scrollToCheckDomain()" class="nav_item1 active"></div>
  <div (click)="scrollToDjinoPreferences()" class="nav_item2"></div>
  <div (click)="scrollToDjinoInfo()" class="nav_item3"></div>
</div>
