.nav_dots_wrapper {
    box-sizing: border-box;
    position: absolute;
    height: 81.5px;
    top: calc(~"50% - 40.75px");
    right: 3%;

    .nav_item1,
    .nav_item2,
    .nav_item3 {
        box-sizing: border-box;
        width: 16.5px;
        height: 16.5px;
        border-radius: 30px;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(0, 0, 0);
        margin-bottom: 16px;
        cursor: pointer;
    }

    .nav_item3 {
        margin-bottom: 0 !important;
    }

    .active {
        background: rgb(0, 0, 0) !important;
        border: 1px solid rgb(255, 255, 255) !important;
    }
}