/* You can add global styles to this file, and also import other style files */
html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}