<section id="check_domain">
  <div class="check_domain_wrapper">
    <header class="header cell_1">
      <a href="/" class="logo">
        <img src="../../assets/img/logo.svg" alt="logo">
        <span>домены</span>
      </a>
      <span class="expire_date">Только до 31 января</span>
    </header>
    <h1 class="check_domain_title cell_2">Честная цена за домен .RU — 39₽</h1>
    <div class="search_block cell_3">
      <div class="search_input_wrapper">
        <input #curDomain type="search" id="search_domain" name="check_domain" placeholder="Введите желаемый домен">
        <button class="saerch_btn" (click)="getAvailableDomains($event)">Проверить</button>
      </div>
      <div class="search_output_wrapper">
        <span class="search_output">{{ response }}</span>
        <a *ngIf="available" href="#" class="regiser_domain">Зарегистрировать за 39₽</a>
      </div>
    </div>
    <div class="create_account_wrapper cell_4">
      <app-create-account></app-create-account>
    </div>
    <div class="scroll_btn_wrapper cell_5">
      <img class="scroll_btn" (click)="scrollDown()" src="../../assets/img/down@2x.png" alt="Scroll button">
    </div>
  </div>
  <app-nav-dots></app-nav-dots>
</section>
