#check_domain {
    background: url('../../assets/img/background1.jpg') no-repeat top center;
    font-family: 'PT Sans Caption', sans-serif;
    background-size: cover;
    position: relative;
    box-sizing: border-box;

    .check_domain_wrapper {
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 20vh 25vh 13vh 5vh 37vh;
        grid-gap: 0 1%; 
        grid-template-areas: 
            "header header header header header header header header header header header header"
            ". . promo promo promo promo promo promo promo promo . ."
            ". . search search search search search search search search . ."
            ". . . . create_account create_account create_account create_account . . . ."
            ". . . . . scroll_btn scroll_btn . . . . .";

        .cell_1 {
            grid-area: header;
        }

        .cell_2 {
            grid-area: promo;
        }

        .cell_3 {
            grid-area: search;
        }

        .cell_4 {
            align-self: end;
            grid-area: create_account;
        }

        .cell_5 {
            grid-area: scroll_btn;
        }

        .header {
            box-sizing: border-box;
            width: 100%;
            padding-top: 40px;
            display: flex;

            .logo {
                box-sizing: border-box;
                width: calc(~"100% / 12 * 4");
                height: 23px;
                display: flex;

                img {
                    box-sizing: border-box;
                    padding-top: 4px;
                    margin-right: 10px;
                }

                span {
                    box-sizing: border-box;
                    color: rgb(255, 255, 255);
                    display: block;
                    line-height: 25px;
                    font-weight: 700;
                }
            }

            .expire_date {
                box-sizing: border-box;
                width: calc(~"100% / 12 * 4");
                text-transform: uppercase;
                line-height: 25px;
                text-align: center;
                font-weight: 700;
            }
        }

        .check_domain_title {
            box-sizing: border-box;
            font-family: 'PT Sans Caption', sans-serif;
            font-size: 73px;
            font-weight: 700;
            padding: 0px;
            margin: 0px;
            text-align: center;
        }

        .search_block {
            box-sizing: border-box;
            width: 100%;
            height: 81px;
            position: relative;

            .search_input_wrapper {
                box-sizing: border-box;
                position: relative;
                width: 100%;
                background: rgb(255, 255, 255);
                border-radius: 8px;
                height: 81px;
                z-index: 1000;

                #search_domain {
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    padding-right: 175px;
                    outline: none;
                    border: none;
                    border-radius: 8px;
                    font-family: 'PT Sans Caption', sans-serif;
                    font-size: 24px;
                    line-height: 28px;
                    padding-left: 38px;
                }

                .saerch_btn {
                    box-sizing: border-box;
                    position: absolute;
                    width: 158px;
                    height: 53px;
                    border-radius: 8px;
                    font-family: 'PT Sans Caption', sans-serif;
                    font-size: 22px;
                    line-height: 26px;
                    background: rgb(95, 96, 98);
                    color: rgb(255, 255, 255);
                    text-align: center;
                    right: 14px;
                    top: 14px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                }

                .saerch_btn:hover {
                    transition: .3s;
                    background: rgb(87, 88, 90);
                }

                .saerch_btn:active {
                    background: rgb(69, 70, 71);
                }
            }

            .search_output_wrapper {
                box-sizing: border-box;
                position: absolute;
                background: rgba(51, 51, 51, .58);
                border-radius: 8px;
                padding-top: 46px;
                bottom: -46px;
                width: 100%;
                height: 81px;
                z-index: 100;
                text-align: center;

                .search_output {
                    box-sizing: border-box;
                    font-family: 'PT Sans Caption', sans-serif;
                    color: rgb(255, 255, 255);
                    font-size: 16px;
                    line-height: 19px;
                }

                .regiser_domain {
                    box-sizing: border-box;
                    font-family: 'PT Sans Caption', sans-serif;
                    color: rgb(119, 181, 60);
                    font-size: 16px;
                    line-height: 19px;
                    border-bottom: 1px solid rgb(119, 181, 60); 
                }
            }

            .create_account_wrapper {
                box-sizing: border-box;
                position: relative;
                width: 100%;
            }
        }

        .scroll_btn_wrapper {
            box-sizing: border-box;
            position: relative;
            width: 100%;
            height: calc(~"37vh - 55px");
            margin-top: 55px;

            .scroll_btn {
                box-sizing: border-box;
                position: absolute;
                width: 30px;
                height: 54.5px;
                left: calc(~"50% - 15px");
                top: 70%;
                cursor: pointer;
                border-radius: 50px;
            }

            .scroll_btn:hover {
                transition: .3s;
                background: rgba(0,0,0,.1);
            }

            .scroll_btn:active {
                background: rgba(0,0,0,.3);
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    #check_domain {
        .check_domain_wrapper {
            width: 100%;
            margin: 0;

            .header {
                padding-left: 10%;
            }

            .check_domain_title {
                font-size: 56px;
            }

            .search_block {
                .search_input_wrapper {
                    #search_domain {
                        font-size: 16px;
                        padding-left: 25px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 901px) and (max-width: 1300px) {
    #check_domain {
        .check_domain_wrapper {
            .search_block {
                .search_input_wrapper {
                    #search_domain {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 819px) and (max-width: 1300px) {
    #check_domain {
        .check_domain_wrapper {
            .check_domain_title {
                font-size: 56px;
            }
        }
    }
}

@media screen and (min-width: 1301px) and (max-width: 2500px) {
    #check_domain {
        .check_domain_wrapper {
            margin-left: calc(~"50% - 546.5px");
            margin-right: calc(~"50% - 546.5px");
            width: 1092px;
        }
    }
}