<section id="djino_preferences">
    <div class="djino_preferences_wrapper">
        <header class="header cell_1">
            <a href="/" class="logo">
                <img src="../../assets/img/logo_red.svg" alt="logo">
                <span>домены</span>
            </a>
            <h3 class="header_title">Зарегистрировав у нас домен, вы получите</h3>
        </header>
        <div class="top_preferences_items cell_2">
            <div class="top_preferences_item item1">
                <img class="item_img" src="../../assets/img/businesscard.svg" alt="Сайт-визитка">
                <div class="item_title">Сайт-визитка</div>
            </div>
            <div class="top_preferences_item item2">
                <img class="item_img" src="../../assets/img/dns.svg" alt="Поддержка DNS">
                <div class="item_title">Поддержка DNS</div>
            </div>
            <div class="top_preferences_item item3">
                <img class="item_img" src="../../assets/img/certificate.svg" alt="Сертификат о владении доменом">
                <div class="item_title">Сертификат о владении доменом</div>
            </div>
            <div class="top_preferences_item item4">
                <img class="item_img" src="../../assets/img/autorenewal.svg" alt="Автовладение">
                <div class="item_title">Автовладение</div>
            </div>
        </div>
        <div class="preferences_info_block cell_3">
            <span>Для любого вашего домена, зарегистрированного на «Джино», вы можете в несколько кликов создать простую страницу-визитку. Это удобно, если ваш основной сайт еще не готов, или если домен вам нужен только для почты. Вы можете разместить здесь краткую информацию о себе или вашем бизнесе, ссылки на аккаунты в соцсетях и любые другие сайты. Создание и поддержка базового варианта сайта-визитки абсолютно бесплатны.</span>
        </div>
        <div class="bottom_preferences_items cell_4">
            <div class="bottom_preferences_item item1">
                <img class="item_img" src="../../assets/img/cloud.svg" alt="Облачное хранилище на 20 Гб">
                <div class="item_title">Облачное хранилище на 20 Гб</div>
            </div>
            <div class="bottom_preferences_item item2">
                <img class="item_img" src="../../assets/img/freessl.svg" alt="Бесплатный SSL-сертификат">
                <div class="item_title">Бесплатный SSL-сертификат</div>
            </div>
            <div class="bottom_preferences_item item3">
                <img class="item_img" src="../../assets/img/dnssec.svg" alt="DNSSEC в один клик">
                <div class="item_title">DNSSEC в один клик</div>
            </div>
            <div class="bottom_preferences_item item4">
                <img class="item_img" src="../../assets/img/redirect.svg" alt="Перенаправление">
                <div class="item_title">Перенаправление</div>
            </div>
        </div>
        <div class="create_account_wrapper cell_5">
            <app-create-account></app-create-account>
        </div>
    </div>
    <app-nav-dots></app-nav-dots>
</section>
