#djino_preferences {
    font-family: 'PT Sans Caption', sans-serif;
    background: rgb(255, 255, 255);
    position: relative;

    .djino_preferences_wrapper {
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 195px 195px 195px 195px 195px;
        grid-gap: 0 1%; 
        grid-template-areas: 
            "header header header header header header header header header header header header"
            "top_items top_items top_items top_items top_items top_items top_items top_items top_items top_items top_items top_items"
            "info info info info info info info info info info info info"
            "bottom_items bottom_items bottom_items bottom_items bottom_items bottom_items bottom_items bottom_items bottom_items bottom_items bottom_items bottom_items"
            "btn btn btn btn btn btn btn btn btn btn btn btn";

        .cell_1 {
            grid-area: header;
        }

        .cell_2 {
            grid-area: top_items;
        }

        .cell_3 {
            grid-area: info;
        }

        .cell_4 {
            grid-area: bottom_items;
        }

        .cell_5 {
            grid-area: btn;
        }

        .header {
            box-sizing: border-box;
            width: 100%;
            position: relative;
            padding-top: 40px;

            .logo {
                box-sizing: border-box;
                width: calc(~"100% / 12 * 4");
                height: 23px;
                display: flex;

                img {
                    box-sizing: border-box;
                    padding-top: 4px;
                    margin-right: 10px;
                }

                span {
                    box-sizing: border-box;
                    color: rgb(0, 0, 0);
                    display: block;
                    line-height: 25px;
                    font-weight: 700;
                }
            }

            .header_title {
                box-sizing: border-box;
                color: rgb(0, 0, 0);
                font-family: 'PT Sans Caption', sans-serif;
                font-weight: 700;
                font-size: 35px;
                line-height: 42px;
                text-align: center;
                margin-top: 80px;
            }
        }

        .top_preferences_items,
        .bottom_preferences_items {
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            .top_preferences_item,
            .bottom_preferences_item {
                box-sizing: border-box;
                height: 100%;
                position: relative;
                width: calc(~"100% / 12 * 3");

                .item_img {
                    position: absolute;
                    left: calc(~"50% - 32px");
                    top: 35%;
                }

                .item_title {
                    box-sizing: border-box;
                    color: rgb(0, 0, 0);
                    font-family: 'PT Sans Caption', sans-serif;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: center;
                    position: absolute;
                    width: 100%;
                    top: 75%;
                }
            }
        }

        .preferences_info_block {
            box-sizing: border-box;
            position: relative;
            margin-top: 65px;

            span {
                box-sizing: border-box;
                font-family: 'PT Sans Caption', sans-serif;
                font-size: 16px;
                line-height: 19px;
                color: rgb(0, 0, 0);
                position: absolute;
                background: rgb(247, 247, 247);
                border: 1px solid rgba(95, 96, 98, .5);
                border-radius: 8px;
                padding: 23px 45px 30px 45px;
            }

            span::before {
                position: absolute;
                content: '';
                width: 16px;
                height: 16px;
                background: rgb(247, 247, 247);
                transform: rotate(45deg);
                border-top: 1px solid rgba(95, 96, 98, .5);
                border-left: 1px solid rgba(95, 96, 98, .5);
                top: -9px;
                left: calc(~"12.5% - 8px");
            }
        }

        .create_account_wrapper {
            box-sizing: border-box;
            position: relative;
            width: 100%;
            margin-top: 75px;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 981px) {
    #djino_preferences {
        .djino_preferences_wrapper {
            grid-template-rows: 195px 390px 195px 390px 195px;
           
            .header {
                .header_title {
                    margin-top: 55px;
                }
            }
    
            .top_preferences_items,
            .bottom_preferences_items {
                .top_preferences_item,
                .bottom_preferences_item {
                    height: 195px;
                    width: calc(~"100% / 12 * 6");
    
                    .item_title {
                        box-sizing: border-box;
                        color: rgb(0, 0, 0);
                        font-family: 'PT Sans Caption', sans-serif;
                        font-size: 20px;
                        line-height: 24px;
                        text-align: center;
                        position: absolute;
                        width: 100%;
                        top: 75%;
                    }
                }
            }
    
            .preferences_info_block {
                margin-top: 45px;
    
                span {
                    font-size: 13px;
                    padding: 20px 30px 20px 30px;
                }
    
                span::before {
                    left: calc(~"25% - 8px");
                }
            }
    
            .create_account_wrapper {
                box-sizing: border-box;
                position: relative;
                width: 100%;
                margin-top: 75px;
            }
        }
    }
}

@media screen and (min-width: 1300px) and (max-width: 2500px) {
    #djino_preferences {
        .djino_preferences_wrapper {
            margin-left: calc(~"50% - 546.5px");
            margin-right: calc(~"50% - 546.5px");
            width: 1092px;
        }
    }
}